.footer {
  display: flex;
  justify-content: space-between;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  align-items: center;
  padding-left: 10px;
	padding-right: 30px;
	padding-bottom: 10px;
	padding-top: 10px;
  min-height: 40px;
  max-height: 50px;
}

.div-flex-socialmedia {
	display: flex;
}

.icon-socialmedia {
	margin: 5px;
	width: 30px;
	height: 30px;
}

/* To prevent the footer to overlap the content */
#content {
  margin-bottom: 55px;
}

.map {
  width: 100%;
  height: 400px;
}