.footer {
  display: flex;
  justify-content: space-between;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  align-items: center;
  padding-left: 10px;
	padding-right: 30px;
	padding-bottom: 10px;
	padding-top: 10px
}

.div-flex-socialmedia {
	display: flex;
}

.icon-socialmedia {
	margin: 5px;
	width: 30px;
	height: 30px;
}